@model IEnumerable<WjbuGangVer2_WebNC.Models.LoaiMH>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div style="margin-left:150px; margin-top:50px">
    <h2>Chi tiết mặt hàng</h2>
    <div style="margin-left:100px">
        <p>
            @Html.ActionLink("Thêm mới", "Create")
        </p>
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenLoai)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.TenLoai)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new { id = item.MaLoai }) |
                        @Html.ActionLink("Details", "Details", new { id = item.MaLoai }) |
                        @Html.ActionLink("Delete", "Delete", new { id = item.MaLoai })
                    </td>
                </tr>
            }

        </table>
        </div>
    </div>
