@{
    ViewBag.Title = "Home Page";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/Content/CSS/index.css" type="text/css">
    <link rel="stylesheet" href="~/Content/CSS/aos.css" type="text/css">
    <link rel="stylesheet" href="~/Content/CSS/csbh.css" type="text/css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <title>WibuGang</title>
</head>
<body>
    <div class="body">
        <div class="menu-bar-container">
            <div class="menu-bar">
                <ul>
                    <li style="width: 250px; font-size: 25px; font-weight: bold; text-align: center;" id="danhmuc">
                        <i style="color: red;" class="fa fa-bars"></i><a href="#">Danh Mục<i style="float:right;" class="fa fa-angle-down"></i></a>
                        <ul class="dropdown-menu">
                            <li style="width: 250px">
                                <a href="./HTML/All Products page 1.html">Laptop<i style="float: right;" class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-laptop">
                                    <a href="@Url.Action("IndexNSX", "Product", new { name = "Asus"})">
                                    <li style="width: 250px; margin-top: -1px;">Asus</li></a>
                                    <a href="@Url.Action("IndexNSX", "Product", new { name = "Acer"})">
                                    <li style="width: 250px; margin-top: -1px;">Acer</li></a>
                                    <a href="@Url.Action("IndexNSX", "Product", new { name = "Dell"})">
                                    <li style="width: 250px; margin-top: -1px;">Dell</li></a>
                                    <a href="@Url.Action("IndexNSX", "Product", new { name = "Macbook"})">
                                    <li style="width: 250px; margin-top: -1px;">Macbook</li></a>
                                    <a href="@Url.Action("IndexNSX", "Product", new { name = "Msi"})">
                                    <li style="width: 250px; margin-top: -1px;">MSI</li></a>
                                </ul>
                            </li>
                            <li style="width: 250px">
                                <a href="#">Linh Kiện PC<i style="float: right;" class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-laptop">
                                    <a href="#">
                                    <li style="width: 250px; margin-top: -1px;">VGA</li></a>
                                    <a href="./HTML/CPU/CPU product.html">
                                    <li style="width: 250px">CPU</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Mainboard</li></a>
                                    <a href="#">
                                    <li style="width: 250px">RAM</li></a>
                                    <a href="#">
                                    <li style="width: 250px">PSU</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Case</li></a>
                                    <a href="#">
                                    <li style="width: 250px">HDD / SSD</li></a>
                                </ul>
                            </li>
                            <li style="width: 250px">
                                <a href="#">Gaming Gear<i style="float: right;" class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-laptop">
                                    <a href="#">
                                    <li style="width: 250px; margin-top: -1px;">Bàn phím</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Chuột</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Tai Nghe</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Loa</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Lót Chuột</li></a>
                                </ul>
                            </li>
                            <li style="width: 250px">
                                <a href="#">Màn Hình<i style="float: right;" class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-laptop">
                                    <a href="#">
                                    <li style="width: 250px; margin-top: -1px;">24''</li></a>
                                    <a href="#">
                                    <li style="width: 250px">27''- 30''</li></a>
                                    <a href="#">
                                    <li style="width: 250px">32''</li></a>
                                    <a href="#">
                                    <li style="width: 250px">60Hz</li></a>
                                    <a href="#">
                                    <li style="width: 250px">144Hz</li></a>
                                    <a href="#">
                                    <li style="width: 250px">240Hz</li></a>
                                </ul>
                            </li>
                            <li style="width: 250px">
                                <a href="#">Ghế Gaming<i style="float: right;" class="fa fa-angle-right"></i></a>
                                <ul class="dropdown-laptop">
                                    <a href="#">
                                    <li style="width: 250px; margin-top: -1px;">DXRacer</li></a>
                                    <a href="#">
                                    <li style="width: 250px">SoleSeat</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Xtreme</li></a>
                                    <a href="#">
                                    <li style="width: 250px">Cougar</li></a>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <div class="center">
                        <div class="pagination">
                            <a href="@Url.Action("Index","Home")" class="active"><i class="fa fa-home"></i>Trang Chủ</a>
                            <a href="@Url.Action("Index","Product","Index")"><i class="fa fa-tags"></i>Sản Phẩm</a>
                            <a href="@Url.Action("CSBH","CSBH","CSBH")"><i class="fa fa-book"></i>Chính Sách Bán Hàng</a>
                            <a data-modal-target="#modal"><i class="fa fa-phone"></i>Liên Hệ</a>
                            <div class="modal" id="modal">
                                <div class="modal-header">
                                    <div class="title">Liên Hệ</div>
                                    <button data-close-button class="close-button">&times;</button>
                                </div>
                                <div class="modal-body">
                                    <div class="testclmm">
                                        <img height="300" style="margin-left: -40px;" src="./Images/Sang.jpg">
                                    </div>
                                    <p>
                                        SĐT: 0582754857

                                        <br>
                                        <a style="margin-left:70px" href="https://www.facebook.com/profile.php?id=100038650591808">Sang Phạm</a>
                                    </p>
                                </div>
                                <div class="modal-body">
                                    <div class="testclmm">
                                        <img height="500" style="margin: -150px 0px 0px -300px" src="./Images/Me.png">
                                    </div>
                                    <p>
                                        SĐT: 0931151121
                                        <br>
                                        <a style="margin-left:80px;" href="https://www.facebook.com/satie0201/"> Quốc Tiến</a>
                                    </p>
                                </div>
                            </div>
                            <div id="overlay"></div>
                            <script src="./JAVA/java.js"></script>
                        </div>
                    </div>
                </ul>
            </div>
        </div>
        <div class="row-container">
            <div class="row" style="width: 1500px;">
                <div style="color: red; animation: fadeIn 1s infinite alternate; margin-left: 120px; position: relative; top: 10px; font-size: 20px; font-family: Arial, Helvetica, sans-serif;">
                    <i class="fa fa-home"></i> HYPER GEAR OFFICIAL STORE <span style="margin-left:200px;">
                        <i class="fa fa-truck"></i> GIAO HÀNG TOÀN QUỐC
                    </span><span style="margin-left:200px;">
                        <i class="fa fa-check"></i> SẢN PHẨM CHÍNH HÃNG
                    </span>
                </div>
            </div>
        </div>
        <div class="images-slide-container" data-aos="fade-up" data-aos-easing="linear" data-aos-duration="500">
            <div id="images-slide">
                <figure>
                    <a href="./HTML/Asus/Asus ROG Zephyrus Duo 15.html"><img height="100%" src="~/Content/Images/Asus/Asus ROG Zephyrus duo 15 Slider fix.jpg" alt=""></a>
                    <a href="./HTML/Dell/Dell Inspiron G7 15.html"><img height="100%" src="~/Content/Images/Dell/Dell G7 15 Gaming Laptop Slider fix.png" alt=""></a>
                    <a href="./HTML/MSI/MSI Products.html"><img height="100%" src="~/Content/Images/MSI/Top 5 Laptop MSI tai CES 2020 Slider fix.jpg" alt=""></a>
                    <a href="./HTML/Acer/Acer Triton 700.html"><img height="100%" src="~/Content/Images/Acer/Acer predator triton 700 slider fix.jpg" alt=""></a>
                    <a href="./HTML/Macbook/Macbook Pro Retina.html"><img height="100%" src="~/Content/Images/Macbook/apple-macbook-pro-touch-2020-i5-slider-fix.jpg" alt=""></a>
                </figure>
            </div>
        </div>

        <div class="new-product-container">
            <div id="new-product-container">
                <div data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500" id="newest-product">
                    <a href="#"><img src="~/Content/Images/index/newest laptop 1.png"></a>
                </div>
                <div data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500" style="margin-left:0.5%; background: #000000;" id="newest-product">
                    <a href="#"><img src="~/Content/Images/index/newest product 3.png"></a>
                </div>
                <div data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500" style="margin-left:0.5%;" id="newest-product">
                    <a href="https://rog.asus.com/vn/Phones/ROG-Phone-3-Model/"><img src="~/Content/Images/index/newest product 2.png"></a>
                </div>
            </div>
        </div>
        <div class="introduce-container">
            <div class="introduce-title">
                HYPER<span>GEAR</span>
            </div>
            <div class="introduce-text" data-aos="fade-up" data-aos-duration="500" data-aos-easing="linear">
                <p>
                    Công nghệ không bao giờ ngừng lại, phải hành động ngay. <br>HGShop luôn đón chờ những ai muốn nắm trong tay sức mạnh công nghệ. Không ngừng phát triển uy tín, HGShop cam kết tạo ra những trải nghiệm tuyệt vời cho các game thủ và người yêu công nghệ ở khắp nơi trên thế giới.
                </p>
            </div>
            <div class="introduce-img-container">
                <div class="introduce-img-left" data-aos="zoom-in-right" data-aos-duration="500"><img src="~/Content/Images/index/600px-NBK-_at_DreamHack_Masters_Dallas_2019.jpg"></div>
                <div class="introduce-img-right">
                    <div class="introduce-img" data-aos="zoom-in" data-aos-duration="1000"><img style="width:330px;" src="~/Content/Images/index/0907_laptop-gaming-msi.jpg"></div>
                    <div class="introduce-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500ms"><img style="width:370px; margin-left: -10px;" src="~/Content/Images/index/main-1000x600-vn-1.jpg"></div>
                    <div class="introduce-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="1000ms"><img style="width:330px;" src="~/Content/Images/index/120342024_1477693199090216_3563555261851398945_o.jpg"></div>
                    <div class="introduce-img" data-aos="zoom-in" data-aos-duration="1000"><img style="width:330px;" src="~/Content/Images/index/huong-dan-mua-may-tinh-xach-tay-choi-game-nam-2020-danh-cho-game-thu.jpg"></div>
                    <div style="width: 650px;" class="introduce-img" data-aos="zoom-in" data-aos-duration="1000" data-aos-delay="500ms"><img style="width:650px; margin-top: -10px;" src="~/Content/Images/index/gaming-gear-spotlight.jpg"></div>
                </div>
            </div>
        </div>
        <div class="introduce-title">
            LAPTOP
            <div class="colorbar">
                <img src="~/Content/Images/index/colorbar.gif">
            </div>
        </div>
        <div>
            <div id="product-container">
                <a href="@Url.Action("IndexNSX", "Product", new { name = "Asus"})">
                    <div data-tooltip="Laptop Asus" style="margin-right: 2%;" id="product" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="width: 35%; margin-left: 32.5%; margin-top: 6%;" src="~/Content/Images/Asus/Asus icon.png">
                    </div>
                </a>
                <a href="@Url.Action("IndexNSX", "Product", new { name = "Acer"})">
                    <div data-tooltip="Laptop Acer" style="margin-right: 2%;" id="product" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 15%; margin-left: 27%" src="~/Content/Images/Acer/Acer icon.png">
                    </div>
                </a>
                <a href="@Url.Action("IndexNSX", "Product", new { name = "Msi"})">
                    <div data-tooltip="Laptop MSI" id="product" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 17%; margin-left: 27%" src="~/Content/Images/MSI/MSI-logo-png.png">
                    </div>
                </a>
                <a href="@Url.Action("IndexNSX", "Product", new { name = "Dell"})">
                    <div data-tooltip="Laptop Dell" style="margin-right: 2%;" id="product" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 15%; margin-left: 25%" src="~/Content/Images/Dell/Dell Icon.png">
                    </div>
                </a>
                <a href="@Url.Action("IndexNSX", "Product", new { name = "Macbook"})">
                    <div data-tooltip="Macbook" style="margin-right: 2%;" id="product" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 17%; width: 50%" src="~/Content/Images/Macbook/Mac Icon.png">
                    </div>
                </a>
                <div id="MoreProducts" style="cursor: pointer; text-align: center;" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                    <p><a style="color: rgb(48,48,48);" href="@Url.Action("Index", "Product", "Index")">Xem Thêm</a></p>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 60px; margin-top: -10%;">...</p>
                </div>
            </div>
        </div>
        <div class="introduce-title">
            CPU
            <div class="colorbar">
                <img src="~/Content/Images/index/colorbar.gif">
            </div>
        </div>
        <div>
            <div id="product-container">
                <a href="#">
                    <div data-tooltip="Intel Core i9" style="margin-right: 2%;" id="productcpu" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; width: 145px; margin-left: 32.5%; margin-top: 6%;" src="~/Content/Images/index/i9.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Chip Intel Core i7" style="margin-right: 2%;" id="productcpu" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; width: 145px; margin-top: 6%; margin-left: 32.5%;" src="~/Content/Images/index/i7.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Chip Intel Core i5" id="productcpu" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; width: 130px; margin-top: 6%; margin-left: 32.5%;" src="~/Content/Images/index/i5.jpg">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Chip AMD Ryzen7" style="margin-right: 2%;" id="productcpu" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; width: 145px; margin-top: 6%; margin-left: 32.5%;" src="~/Content/Images/index/ryzen7.jpg">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Chip AMD Ryzen5" style="margin-right: 2%;" id="productcpu" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; width: 145px; margin-top: 6%; margin-left: 32.5%;" src="~/Content/Images/index/ryzen5.png">
                    </div>
                </a>
                <div id="MoreProducts" style="cursor: pointer; text-align: center;" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                    <p><a style="color: rgb(48,48,48);" href="././HTML/CPU/CPU product.html">Xem Thêm</a></p>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 60px; margin-top: -10%;">...</p>
                </div>
            </div>
        </div>
        <div class="introduce-title">
            VGA - Card Màn Hình
            <div class="colorbar">
                <img src="~/Content/Images/index/colorbar.gif">
            </div>
        </div>
        <div>
            <div id="product-container">
                <a href="#">
                    <div data-tooltip="Card màn hình Asus" style="margin-right: 2%;" id="productvga" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; margin-left: 17%; margin-top: 6%;" src="~/Content/Images/index/vgaasus.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Card màn hình Gigabyte" style="margin-right: 2%;" id="productvga" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; margin-top: 7%; margin-left: 17%;" src="~/Content/Images/index/vgagigabyte.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Card màn hình Aorus" id="productvga" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; margin-top: 6%; margin-left: 17%;" src="~/Content/Images/index/vgaaorus.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Card màn hình MSI" style="margin-right: 2%;" id="productvga" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; margin-top: 6%; margin-left: 17%;" src="~/Content/Images/index/vgamsi.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Card màn hình EVGA" style="margin-right: 2%;" id="productvga" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 145px; margin-top: 6%; margin-left: 32.5%;" src="~/Content/Images/index/vgaevga.png">
                    </div>
                </a>
                <div id="MoreProducts" style="cursor: pointer; text-align: center;" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                    <p><a style="color: rgb(48,48,48);" href="#">Xem Thêm</a></p>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 60px; margin-top: -10%;">...</p>
                </div>
            </div>
        </div>
        <div class="introduce-title">
            Màn Hình
            <div class="colorbar">
                <img src="~/Content/Images/index/colorbar.gif">
            </div>
        </div>
        <div>
            <div id="product-container">
                <a href="#">
                    <div data-tooltip="Màn Hình Samsung" style="margin-right: 2%;" id="productmanhinh" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-left: 30%; margin-top: 6%;" src="~/Content/Images/index/manhinhsamsung.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Màn Hình Asus" style="margin-right: 2%;" id="productmanhinh" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="height: 170px; margin-top: 1%; margin-left: 25%;" src="~/Content/Images/index/manhinhasus.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Màn Hình Acer" id="productmanhinh" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 6%; margin-left: 30%;" src="~/Content/Images/index/manhinhacer.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Màn Hình ViewSonic" style="margin-right: 2%;" id="productmanhinh" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 6%; margin-left: 25%;" src="~/Content/Images/index/manhinhviewsonic.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Màn Hình Dell" style="margin-right: 2%;" id="productmanhinh" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 7.5%; margin-left: 32.5%;" src="~/Content/Images/index/manhinhdell.png">
                    </div>
                </a>
                <div id="MoreProducts" style="cursor: pointer; text-align: center;" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                    <p><a style="color: rgb(48,48,48);" href="#">Xem Thêm</a></p>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 60px; margin-top: -10%;">...</p>
                </div>
            </div>
        </div>
        <div class="introduce-title">
            Ghế Gaming
            <div class="colorbar">
                <img src="~/Content/Images/index/colorbar.gif">
            </div>
        </div>
        <div>
            <div id="product-container">
                <a href="#">
                    <div data-tooltip="Ghế DXRacer" style="margin-right: 2%;" id="productghegaming" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-left: 40%; margin-top: 6%;" src="~/Content/Images/index/ghegamingdxracer.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Ghế AKRacing" style="margin-right: 2%;" id="productghegaming" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 7%; margin-left: 40%;" src="~/Content/Images/index/ghegamingakracing.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Ghế Soleseat" id="productghegaming" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 6%; margin-left: 30%;" src="~/Content/Images/index/ghegamingsoleseat.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Ghế WhiteShark" style="margin-right: 2%;" id="productghegaming" data-aos="fade-up" data-aos-delay="0" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 6%; margin-left: 40%;" src="~/Content/Images/index/ghegamingwhiteshark.png">
                    </div>
                </a>
                <a href="#">
                    <div data-tooltip="Ghế Cougar" style="margin-right: 2%;" id="productghegaming" data-aos="fade-up" data-aos-delay="250" data-aos-easing="linear" data-aos-duration="500">
                        <img style="margin-top: 6%; margin-left: 40%;" src="~/Content/Images/index/ghegamingcougar.png">
                    </div>
                </a>
                <div id="MoreProducts" style="cursor: pointer; text-align: center;" data-aos="fade-up" data-aos-delay="500" data-aos-easing="linear" data-aos-duration="500">
                    <p><a style="color: rgb(48,48,48);" href="#">Xem Thêm</a></p>
                    <p style="font-family: 'Times New Roman', Times, serif; font-size: 60px; margin-top: -10%;">...</p>
                </div>
            </div>
        </div>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script>
        AOS.init({
            easing: 'ease-out-back',
            duration: 1000
        });
    </script>
    <script>
        hljs.initHighlightingOnLoad();

        $('.hero__scroll').on('click', function (e) {
            $('html, body').animate({
                scrollTop: $(window).height()
            }, 1200);
        });
    </script>
    <script src="~/Content/JAVA/java.js"></script>
</body>
</html>