@model WjbuGangVer2_WebNC.Models.MatHang

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>MatHang</h4>
    <hr />
    <dl class="dl-horizontal" style=" margin-left: 400px;">
        <dt>
            @Html.DisplayNameFor(model => model.TenMH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TenMH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DonGia)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DonGia)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MoTa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MoTa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hang)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hang)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HinhChinh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HinhChinh)
        </dd>

        <dt>
        </dt>

        <dd>
            <img src="@Url.Content(Model.Hinh1)" width="250" height="250" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hinh4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hinh4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LoaiMH.TenLoai)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LoaiMH.TenLoai)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.MaMH }) |
    @Html.ActionLink("Back to List", "Index")
</p>
