@model IEnumerable<WjbuGangVer2_WebNC.Models.MatHang>

@{ ViewBag.Title = "Index";
                Layout = "~/Views/Shared/_AdminLayout.cshtml"; }
<style>
    .shortDisplay:hover {
        overflow: visible;
        white-space: pre-line;
        width: 500px;
        line-break: auto;
    }

    .shortDisplay {
        display: inline-block;
        max-width: 300px;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
</style>


<div style="margin-left:50px; margin-top:50px">
    <h2>Danh Sách sản phẩm</h2>
    <div style="margin-left:100px">
        <p>
            @Html.ActionLink("Thêm sản phẩm mới", "Create")
        </p>
        <table class="table table-striped" style=" margin-left: 50px">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.TenMH)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DonGia)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MoTa)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Hang)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.HinhChinh)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.LoaiMH.TenLoai)
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.TenMH)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.DonGia)
    </td>
    <td>
        <span class="shortDisplay"> @Html.DisplayFor(modelItem => item.MoTa)</span>
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hang)
    </td>
    <td>
        <img src="@Url.Content(item.HinhChinh ?? "~/Content/Images/add.png")" width="100" height="100" />
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.LoaiMH.TenLoai)
    </td>
    <td>
        @Html.ActionLink("Chỉnh sửa ", "Edit", new { id = item.MaMH }) |
        @Html.ActionLink("Chi Tiết", "Details", new { id = item.MaMH }) |
        @Html.ActionLink("Xóa", "Delete", new { id = item.MaMH })
    </td>
</tr>            }
        </table>
    </div>
</div>